.navbar-menu {
    background-color: #F1F3FF;
    width: 100%;

}

.button-register {
    background-color: #5CB85F !important;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

}


